<div class="container-fluid container-fluid-custom">
<h1>About EasyNote</h1>
<p>Welcome to EasyNote, your go-to app for seamless and efficient note-keeping. EasyNote is designed to simplify the way you capture, organize, and access your thoughts, ideas, and important information. Built with the latest web technologies, EasyNote ensures a smooth and user-friendly experience.</p>
<div>
    <h2>Key Features</h2>
    <ul>
      <li>
        <strong>User-Friendly Interface:</strong> Our intuitive design allows you to effortlessly create, edit, and manage your notes.
      </li>
      <li>
        <strong>Secure Storage:</strong> With robust MongoDB integration, your notes are securely stored and easily retrievable whenever you need them.
      </li>
      <li>
        <strong>Flexible Organization:</strong> Tag and categorize your notes for quick access and better organization.
      </li>
      <li>
        <strong>Real-Time Sync:</strong> Access your notes across multiple devices with real-time synchronization.
      </li>
      <li>
        <strong>Customizable Views:</strong> Choose between different viewing options to display your notes the way you like.
      </li>
    </ul>
  </div>
  
</div>