<div class="container-fluid container-fluid-custom">
    <h1>About EasyNote</h1>
    <p>
        Welcome to EasyNote, your go-to app for seamless and efficient note-keeping. EasyNote is designed to simplify the way you capture, organize, and access your thoughts, ideas, and important information. Built with the latest web technologies, EasyNote ensures a smooth and user-friendly experience.
        <br>
        EasyNote is powered by a robust and efficient tech stack, ensuring high performance and reliability
    </p>
    <h2>
        Our Mission:
    </h2>
    <p>
        At EasyNote, our mission is to provide a simple, yet powerful tool for everyone who needs to keep their thoughts organized and accessible. Whether you are a student, a professional, or someone who loves jotting down ideas, EasyNote is designed to cater to your needs with ease and efficiency.
        <br>
        Join us on this journey to a more organized and productive life with EasyNote. Start capturing your ideas today and experience the simplicity and power of EasyNote.
    </p>

    <div>
    <ul>
      <li>
        <strong>User-Friendly Interface:</strong> Our intuitive design allows you to effortlessly create, edit, and manage your notes.
      </li>
      <li>
        <strong>Secure Storage:</strong> With robust MongoDB integration, your notes are securely stored and easily retrievable whenever you need them.
      </li>
      <li>
        <strong>Flexible Organization:</strong> Tag and categorize your notes for quick access and better organization.
      </li>
      <li>
        <strong>Real-Time Sync:</strong> Access your notes across multiple devices with real-time synchronization.
      </li>
      <li>
        <strong>Customizable Views:</strong> Choose between different viewing options to display your notes the way you like.
      </li>
    </ul>
  </div>
  
</div>